name: 'Run prettify'
on:
   pull_request:
   push:
      branches: [main]

jobs:
   prettier:
      name: Prettier Check
      runs-on: ubuntu-latest
      steps:
         - name: Checkout Repository
           uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

         - name: Enforce Prettier
           run: npx prettier --check .
